<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<h4>test01</h4>
	
	
	<div th:with="number1=36, number2=3">
		<h1>1. 변수</h1>	
			<h3 th:text="|첫번째 숫자: ${number1}|"></h3>
			<h3 th:text="|두번째 숫자: ${number2}|"></h3>
			
		<h1>2. 산술연산</h1>
			<h3 th:text="|더하기: ${number1+number2}|"></h3>
			<h3 th:text="|빼기: ${number1-number2}|"></h3>
			<h3 th:text="|곱하기: ${number1*number2}|"></h3>
			<h3 th:text="|나누기: ${number1/number2}|"></h3>
	</div>
	
	<h1>3. 태그 그대로 출력</h1>
	<div th:text="'<h3>안녕하세요</h3>'"></div>
	<div th:utext="'<h3>안녕하세요</h3>'"></div>
	
	
	
	<h1>4. if와 unless</h1>
	<th:block th:with="number1=36, number2=3, average=(36+3)/2">
	<!-- 하나로 묶어서 number1과 number2를 변수로써 평균 구하기 -->
	<!-- 형태 : th:with="average=${(number1+number2) / 2.0}" -->	
		
		<div th:if="${average >= 10}"><h1 th:text="${average}"></h1></div>
		<div th:unless="${average >= 10}"><h3 th:text="${average}"></h3></div>
	</th:block>
	
	

</body>
</html>